<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="myConn" connectionString="server=localhost;database=mydb;uid=sa;password=password;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnStringDb1" connectionString="Data Source=localhost;Initial Catalog=YourDataBaseName;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>