<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="myConn" connectionString="Server=mymac;Database=ftreport;Uid=user;Pwd=password;" providerName="MySql.Data.MySqlClient" />
        <add name="myConn1" connectionString="server=localhost;database=mydb;uid=sa;password=password;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
</configuration>